/* ===== RESET & BASE ===== */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Valores de texto y colores */

:root {
  --color-bg: #0c0c0f;
  --color-surface: #141418;
  --color-surface-2: #1c1c22;
  --color-border: rgba(255,255,255,0.08);
  --color-border-hover: rgba(255,255,255,0.16);

  --color-text-primary: #f0ede8;
  --color-text-secondary: #9c9a96;
  --color-text-muted: #5a5856;

  --color-accent: #e8d5a3;
  --color-accent-hover: #f0e4bb;
  --color-accent-dim: rgba(232,213,163,0.12);
  --color-accent-dim-2: rgba(232,213,163,0.06);

  --color-js: #f0d060;
  --color-html: #e8704a;
  --color-css: #5b9cf6;
  --color-vue: #4fc08d;

  --font-display: "Playfair Display", serif;
  --font-body: "Lora", serif;

  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 18px;
  --radius-xl: 24px;

  --transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* General */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background: linear-gradient(rgba(0, 0, 0),#54235c,#222e51,#8c9ec9);
  color: var(--color-text-primary);
  font-size: 16px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
 
  
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  
}

.section {
  padding: 30px 0;
}

.section-over {
  font-family: var(--font-display);
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.section-title {
  font-family: var(--font-display);
  font-size: 28px;
  font-weight: 700;
  color: var(--color-text-primary);
  margin-bottom: 35px;
}

/* Botones */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: var(--radius-sm);
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all var(--transition);
  border: 1px solid transparent;
  text-decoration: none;
}

.btn-primary {
  background: var(--color-accent);
  color: #0c0c0f;
  border-color: var(--color-accent);
}

.btn-primary:hover {
  background: var(--color-accent-hover);
  transform: translateY(-1px);
}

.btn-outline {
  background: transparent;
  color: var(--color-text-primary);
  border-color: var(--color-border-hover);
}

.btn-outline:hover {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

/* Division */
.section-divider {
  height: 1px;
  background: var(--color-border);
  width: 100%;
}

/* Animacion */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(24px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-up {
  animation: fadeUp 0.7s cubic-bezier(0.4,0,0.2,1) both;
}
